body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container{
    padding: 10px;
  }

.bg-secondary{
    background-color: #4682B4 !important;
  }

.main-box{
    margin-top: 10vh;
    margin: auto;
    height: 60vh;
    width: 70vw;
    background-color: #d3d3d3;
    border-radius: 5px;
    box-shadow: #999 1px 1px 5px;
    text-align: center;
  }

.main-title{
    width: 70vw;
    margin: auto;
}

.main-title h1{
    margin: 50px;
    margin-left: 0;
}

.options-box{
    display: flex;
    width: 100%;
}

.options-box button{
    padding: 10px;
    margin: 20px;
    box-shadow: #999 1px 1px 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 0;
}

button:hover{
    background-color: #A9A9A9;
    opacity: 75%;
    cursor: pointer;
    transition: all 0.1s ease-in;
    color: whitesmoke;
}

hr{
    margin: auto;
    width: 90%;
}

.user-inform{
    display: flex;
    justify-content: space-around;
}

.user-inform h1{
    margin: 20px;
    font-size: 15px;
}